<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.hisname.fireflyiii">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CustomApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.onboarding.OnboardingActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${host}"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />

        <activity android:name=".ui.bills.AddBillActivity" />
        <activity android:name=".ui.piggybank.AddPiggyActivity" />
        <activity android:name=".ui.bills.BillDetailActivity" />

        <receiver android:name=".receiver.TransactionReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="firefly.hisname.ADD_DEPOSIT"/>
                <action android:name="firefly.hisname.ADD_WITHDRAW"/>
                <action android:name="firefly.hisname.ADD_TRANSFER"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BillReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="firefly.hisname.ADD_BILL"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.PiggyBankReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="firefly.hisname.ADD_PIGGY_BANK" />
            </intent-filter>
        </receiver>

    </application>



</manifest>
